.img {
    width: 580px;
    height: 250px;
}

.profileContainer{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

@media (max-width: 433px) {
    .profileContainer{
        margin: 3%;
    }}
