.headerMenu {
    display: initial;
}

.appBar{
    background-color: #02988e;
    width: 100%;
    top:0;
    left:0;
    height: 60px;
    display: flex;
    position: fixed;
    justify-content: end;
    align-items: center;
}

.buttonAndTitle{
    margin: 0 20px;
}

.content {
    width: 100%;
}

.navbarApp {
    width: 350px;
    height: 410px;
}

.wrapperContent {
    padding: 70px 0 30px 0;
    margin: 0 auto;
    width: 80%;
    gap: 20px;
    min-height: 80vh;
    display: flex;
}

.photoHeader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    background: #fa7600;
}



.headerMain a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e8e8e8;
    font-weight: bold;
    font-size: 25px;
    margin-right: 20px;
}

.login {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
}

@media (min-width: 1368px) {
    .headerMenu {
        display: none;
    }
}

@media (max-width: 1368px) {
    .navbarApp {
        display: none;
    }

    .wrapperContent {
        padding: 10px 5px;
    }

    .content {
        padding: 0;
    }
}

@media (max-width: 766px){
    .wrapperContent{
        margin: 0;
        min-width: 100%;
        padding-top: 65px;
    }
    .appBar{
        justify-content: space-between;
        align-items: center;
    }
    .headerMain a{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #e8e8e8;
        font-weight: bold;
        font-size: 20px;
        margin-right: 20px;
    }
    .button{
        width: 100%;
        font-size: 10px;
        height: 30px;
    }
}