.header {
    padding: 0;
}

.headerMenu {
    display: initial;
}

.content {
    width: 100%;
}

.navbarApp {
    width: 350px;
    height: 410px;
}

.wrapperContent {
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
    gap: 20px;
    min-height: 100vh;
    display: flex;
}

.photoHeader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    background: #fa7600;
}

.headerMain a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e8e8e8;
    font-weight: bold;
    font-size: 25px;
    margin-right: 20px;
}

.login {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 6px 0 0 0;
}

@media (min-width: 1368px) {
    .headerMenu {
        display: none;
    }
}

@media (max-width: 1368px) {
    .navbarApp {
        display: none;
    }

    .wrapperContent {
        padding: 10px 5px;
    }

    .content {
        padding: 0;
    }
}