.header {
    padding: 0;
}

.headerMenu {
    display: initial;
}

.content{
    width: 950px;
}

.navbarApp {
    width: 250px;
    max-height: 40vh;
}

.wrapperContent{
padding:10px 10%;
justify-content: space-between;
min-height: 100vh;
background: #dafdd3;
}

.photoHeader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    background: #fff700;
}

.login {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 6px 0 0 0;
}

@media (min-width: 1368px) {
    .headerMenu {
        display: none;
    }
}

@media(max-width: 1368px) {
    .navbarApp {
        display: none;
    }
    .wrapperContent{
        padding:10px 5px;
    }
    .content{
        padding: 0;
    }
}