.nav{
    grid-area: n;
    background-color: #97a6b2;
    border-radius: 10px;
    margin-left: 100px;
    padding: 30px;
    color: white;
}

.item a{
    color: whitesmoke;
    text-decoration: none;
}


a.active{
    color: red;
    font-size: large;
    font-weight: bolder;
}