.item img{
    grid-area: i;
    width: 40px;
    border-radius: 40px;
}
.item{
 display: flex;
    gap: 10px;
}
.messagePost{
    padding: 20px;
    border-radius: 30px;
}

.countLike {
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #162a67;
    background: url(http://pngimg.com/uploads/heart/heart_PNG51334.png) center/25px 25px no-repeat;
    height: 40px;
    padding-bottom: 5px;
    font-size: 12px;

}

.likeType{
    display: flex;
    gap: 5px;
    height: 30px;
    align-items: center;

}