.item img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #f17800;
}

.messagePost {
    padding: 10px 0;
    border-radius: 30px;
    width: 100%;
}

.countLike {
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #162a67;
    background: url(http://pngimg.com/uploads/heart/heart_PNG51334.png) center/25px 25px no-repeat;
    height: 40px;
    padding-bottom: 5px;
    font-size: 12px;

}

.likeType {
    display: flex;
    gap: 5px;
    height: 30px;
    align-items: center;

}