.form{
    display: flex;
    justify-content:center;
    /*align-items: center;*/
    min-height: 100vh;
}

.loginFormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 100px;
    width: 100%;
    height: 80vh;
}

@media(max-width: 1200px) {
    .loginFormContainer{
        padding: 0;
        height: 60vh;
        gap: 20px;
    }
    .form{
        justify-content:center;
        align-items: center;
    }
}