.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h h"
    "n c c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

body {
    background-image: url(https://phonoteka.org/uploads/posts/2021-03/1616678799_41-p-fon-puziri-44.jpg);
    background-size: 40%;
}
