*{
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    background: #e5ffe0;
}

@font-face {
    font-family: 'Varela Round', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Varela+Round&display=swap);
}

.MuiCardContent-root{
    font-weight: bold;
    color: #e8e8e8;
    margin: 0;
}

.MuiCardContent-root:hover{
    font-family: 'Varela Round',sans-serif;
}

@media (min-width: 600px) {
    .MuiToolbar-root.MuiToolbar-gutters {
        padding-left: 0;
        padding-right: 10px;
        min-height: 70px;
    }
}

@media (max-width: 600px){
    .MuiAppBar-root{
        padding: 0;
    }
    .MuiToolbar-root.MuiToolbar-gutters {
        padding-left: 0px;
        padding-right: 20px;
        min-height: 70px;
    }
}

