@font-face {
    src: url(https://fonts.googleapis.com/css2?family=Varela+Round&display=swap);
    font-family: 'Varela Round', sans-serif;
}

.dialogs {
    display: grid;
    grid-template-areas:
    "d m";
    grid-template-columns: 2fr 6fr;
    font-family: 'Varela Round', sans-serif;
}

.dialogsItem {
    grid-area: d;
    padding: 20px;
}

.messages {
    display: grid;
    grid-area: m;
    padding: 20px;
    grid-row-gap: 10px;
    border-left: dotted 7px mediumaquamarine;
    font-family: 'Varela Round', sans-serif;
}

 a{
    text-decoration: none;
    color: maroon;

}
 .dialogsStyle {
     display: flex;
     align-items: center;
     gap: 10px;
     width: auto;
     padding: 10px 30px 10px 30px;
     margin-top: 5px;
     font-family: 'Varela Round', sans-serif;
 }

a.active{
    color: yellow;
    border-style: solid;
    border-color: darksalmon;
    font-family: 'Varela Round', sans-serif;
}
.wrapper{
    grid-area: d;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    width: 400px;
    height: auto;
    border-radius: 30px 30px 30px 0;
    color: black;
    background-color: #e8e8e8;
    padding: 15px 20px 15px 20px;
    gap: 4px;
    word-break: break-all;
    font-family: 'Varela Round', sans-serif;
}
.wrapper_style{
    grid-area: s;
    display: flex;
    flex-wrap: wrap;
    justify-self: end;
    align-self: end;
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0 , 0 , 0, 0) 15px, rgb(232, 232, 232) 0);
    transform: translateX(1px);
    font-family: 'Varela Round', sans-serif;
}
.messageStyle{
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-areas:
            "s d";
    justify-items: start;
    height: auto;
    font-family: 'Varela Round', sans-serif;
}

.imageDialog{
    width: 40px;
    border-radius: 40px;
}

.buttonMessage{
    display: flex;
    font-family: 'Varela Round', sans-serif;
}

.formDialogs{
    display: flex;
    align-items: end;
    gap:10px;
}