.dialogs {
    display: grid;
    grid-template-areas:
    "d m";
    grid-template-columns: 2fr 6fr;
}

.dialogsItem {
    grid-area: d;
    padding: 20px;
}

.messages {
    grid-area: m;
    padding: 20px;
}

 a{
    text-decoration: none;
    color: maroon;
}
div{
    margin-bottom: 5px;
}
a.active{
    color: yellow;
    border-style: solid;
    border-color: darksalmon;
}